{% extends 'secondary_base.html' %}
{% load humanize %}
{% block title %} - Payment {% endblock %}
{% load static %}
{% block metatags %}
<meta name="keywords" content="memories pub crawl, pub crawl, pub crawl budapest, pub crawl budapest booking, pub crawl booking, budapest pubs, budapest party, ruin pub budapest, nightlife budapest, best pub crawl budapest">
<meta name="description" content="Memories Pub Crawl Budapest, finish booking your unforgettable night now!">
{% endblock %}
{% block canoical %} <link rel=”canonical” href=”https://bestpubcrawlbudapest.com{{request.get_full_path}}” /> {% endblock %}
{% block og_tags %}
<meta property="og:title" content="Memories Pub Crawl Budapest - finish booking your unforgettable night now!" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Memories Pub Crawl Budapest, finish booking your unforgettable night now. Free and unlimited drinks for one hour, welcome shots at each ruin pub and we are visiting the best club in Budapest."/>
<meta property="og:url" content="" />
<meta property="og:image" content="" />
{% endblock %}
{% block extra_braintree %}
<!-- includes the Braintree JS client SDK -->
<script src="https://js.braintreegateway.com/web/dropin/1.22.0/js/dropin.min.js"></script>

<!-- includes jQuery -->
<script src="http://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
<div class="header-small cover">

<div class="overlay-top overlay"></div>

<h1><span class="highlight-text grad-bg">Payment</span></h1>

</div>

<div class="section">

<div class="wrapper flex spaceB">


    
 <!-- <h4>Pay with PayPal</h4> -->
    <div class="scrap">
    <div class="container">
        <div class="scrap-text">
            
            <a href="/process-payment/" class="btn btn-info margin-right-ten text-uppercase" id="progress-bar-trigge">
                 PAY WITH PAYPAL</a>
                 
            <a href="/payment-url/" class="btn btn-info">PAY WITH CREDIT DEBIT CARD</a>
        </div>
    </div>

    

  </div>

  <div class="side-bar">

    <span class="section-title">Your booking</span>

    <div class="summary-box">

      <div class="cover summary-pic" style="background-image:url({{ choosen_package.static_img_route }})"></div>

      <div class="padding">
        <h3><span class="grad-title">{{ choosen_package.name }}</span></h3>


        <span class="flex center sumDate summary"><img src="{% static 'img/date_icon.png' %}" class="small-icon"><span class="summaryDate">{{ booking.date }}</span></span>
        <span class="flex center sumPerson summary"><img src="{% static 'img/person_icon.png' %}" class="small-icon"><span class="summaryPerson">{{ booking.headcount|floatformat:0|intcomma }} person(s)</span></span>

        <div class="personalInfo">

          <h3>Personal information</h3>
          <p>{{ booking.customer_name }}</p>
          <p>{{ booking.customer_email }}</p>
          <p>{{ customer.address }}</p>

        </div>

        <div class="summaryPrice summary">

          Total price:
          <p class="packagePrice">{{ booking.price|floatformat:0|intcomma }} €</p>
          {% if booking.coupon_name %}<p>Your coupon code: <strong>taxi_01</strong></p>{% else %} {% endif %}

        </div>
         <p style="text-align: center"><a href=""><span class="link-button">CHANGE INFORMATION</span></a></p>
      </div>

    </div>

  </div>

</div>

</div>

{% endblock %}

{% block braintree %}
<script>
  
</script>


{% endblock %}
