{% extends 'base.html' %}
{% load static %}
{% block title %} - Thank you for your booking {% endblock %}
{% block metatags %}
<meta name="keywords" content="memories pub crawl, pub crawl, pub crawl budapest, pub crawl budapest booking, pub crawl booking, budapest pubs, budapest party, ruin pub budapest, nightlife budapest, best pub crawl budapest">
<meta name="description" content="Memories Pub Crawl Budapest, thank you for your booking!">
{% endblock %}
{% block canoical %} <link rel=”canonical” href=”https://bestpubcrawlbudapest.com/thank-you” /> {% endblock %}
{% block og_tags %}
<meta property="og:title" content="Memories Pub Crawl Budapest - thank you for your booking!" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Memories Pub Crawl Budapest, thank you page. Free and unlimited drinks for one hour, welcome shots at each ruin pub and we are visiting the best club in Budapest."/>
<meta property="og:url" content="" />
<meta property="og:image" content="" />
{% endblock %}


{% block content %}


<div class="header-small cover">

<div class="overlay-top overlay"></div>

<span class="highlight-text grad-bg">Successful booking</span>

</div>

<div class="section">

<div class="wrapper flex spaceB">


  <div class="full">

    <div class="padding">
      <h1 class="grad-title" style="margin-bottom:60px">Thank you for your booking!</h1>
      <p>Your crazy, unforgettable night will begin soon!</p>
      {% if data %}

      <h1 class="grad-title" style="margin-bottom:30px; display:block;">
      transactionid = {{data}}
      </h1>
      <h1 class="grad-title" style="margin-bottom:30px; display:block;">
      bookingid = {{book}}
      </h1>
      {% endif %}


      <p>We have sent you an e-mail with all the details and another one with the invoice.</p>
      <p>If you have any questions you can reach us at: info@bestpubcrawlbudapest.com</p>
    </div>

  </div>

  <div class="half cover" style="background-image:url(img/pest_tour.jpg)"></div>



</div>

</div>

<!-- <div class="section">

<p style="text-align: center"><span class="section-title">See other packages</span></p>

<div class="wrapper flex">

  <div class="summary-box third" style="margin-right:50px">

      <div class="cover summary-pic" style="background-image:url(img/pest_tour.jpg)"></div>

      <div class="padding">
        <span class="grad-title">Pest Tour</span>
        <div class="sub-info">Every Thursday</div>
        <div class="package-price">

          <span class="old-price">29 €</span>
          <p class="packagePrice">21 €</p>
          <div class="sub-info">per person</div>

        </div>

         <p style="text-align: center; margin-top:0"><a href=""><span class="button grad-bg">See details now!</span></a></p>
      </div>

  </div>

  <div class="summary-box third">

      <div class="cover summary-pic" style="background-image:url(img/pest_tour.jpg)"></div>

      <div class="padding">
        <span class="grad-title">Pest Tour</span>
        <div class="sub-info">Every Thursday</div>
        <div class="package-price">

          <span class="old-price">29 €</span>
          <p class="packagePrice">21 €</p>
          <div class="sub-info">per person</div>

        </div>

         <p style="text-align: center; margin-top:0"><a href=""><span class="button grad-bg">See details now!</span></a></p>
      </div>

  </div>



</div>

</div> -->

{% endblock %}
