
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin:0;
  padding:0;
  font-size:18px;
  color: rgb(255,255,255);
  font-family: 'Roboto', sans-serif;
  background-color:rgba(0,0,0,0.95);
}

select:invalid { opacity: 0.4 }

a {
  color: inherit;
}

.wrapper  {
  width:1250px;
  position:relative;
  z-index:10;
  margin: auto;
}


@media only screen and (max-width:1280px) {
  .wrapper {
    width: 90%;
  }
}

*{
  transition: 0.3s;
}



.cta {
  border: none;
  color: white;
  background-color: black;
  padding: 10px 30px;
  border-radius: 100px;
  text-decoration: none;
  margin-top: 10px;
  display:inline-block;
  cursor: pointer;
}

.three-third-w-input {
  width:68%;
}

.form-section {
  display: none;
}


.submitBtn{
  display: none;
}

.choose-card {
  background:#4A4A4A;
  border:1px solid grey;
  border-radius: 3px;
  padding:25px 20px;
  cursor: pointer;
  width: 300px;
  margin-bottom:20px;
}

.big-padding {
  padding-top:40px;
  padding-bottom:40px;
}

.orange {
  border:1px solid #FF7B31; 
}

.packagePrice {
  font-size:40px;
  font-weight: bold;
  margin-top:0;
}

.orange .select-icon {
  background:#FF7B31;
}

.purple {
  border: 1px solid #CD039E;
}

.purple .select-icon {
  background:#CD039E;
}

.payment-icon {
  width: 70px;
  margin-right:10px;
}

.select-icon {
  border-radius: 50%;
  background:grey;
  width: 20px;
  height: 20px;
  margin-right:20px;

}


.header-small {
  background-image: url(../img/header.jpg);
  padding-top:250px;
  padding-bottom:150px;
  padding-left:150px;
}

.highlight-text {
  font-size:60px;
  padding:20px 30px;
  position: relative;
  z-index: 1;
  display: inline-block;
  max-width: 500px;
}

.text-side {
  padding:35px 0px;
}

.flex {
  display:flex;
  flex-wrap:wrap;
}

.padding-zero {

}

.half {
  width:50%;
}

.m-auto {
  margin: auto;
}

.center {
  align-items:center;
}

.text-center {
  text-align: center;
}

.spaceB {
  justify-content:space-between;
}

.spaceC {
  justify-content: center;
}

.grad-bg {
  background:linear-gradient(to right, #FF7B31, #CD039E);
}

.black-bg {
  background-color:black;
}

.grey-bg {
  background-color: #FBFBFB;
}

.white-color {
  color: white
}

.overlay {
  position:absolute;
  z-index:1;
  width:100%;
  height:200px;
  right:0;
  opacity:0.8;
}

.overlay-top {
  background:linear-gradient(rgb(0,0,0), rgba(0,0,0,0));
  top: 0;
}

.overlay-bottom {
  bottom:0;
  background:linear-gradient(rgba(0,0,0,0), rgb(0,0,0));
}

.cover {
  background-size:cover;
  background-position:center;
}

.package-box {
  width: 30%;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.package-box:hover .service-info {
  bottom:0;
}

.package-box h1 {
  margin-bottom:0;
}



.service-info {
  position: absolute;
  bottom:-80px;
  left:10px;
  z-index:2;
}

/* styling of menu */
.menu-slide {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  font-size: 15px;
}

.menu-padding {
  padding:15px 30px;
}

.menu-slide-a{
  text-decoration: none;
  color: inherit;
  padding: 0px 20px;
  opacity: 0.7;
  font-size:19px;
}

.menu-slide-a:hover {
	opacity: 1;
}

.logo {
  height: 100px;
}

.section-title {
	font-size:30px;
	font-weight: bold;
  display: inline-block;
  padding:20px;
  border-bottom:1px solid rgba(255,255,255,0.6);
  margin-bottom:30px;
}

.header-content h1,p {
  margin-bottom:0;
}

.border-btn {
  padding:15px 25px;
  display: inline-block;
  margin:20px 0px;
  cursor: pointer;
  border-radius:3px;
  border:1px solid white;
  color:white;
  font-size:20px;
}

.border-btn:hover {
  background:white;
  color: black;
}

.header-content {
  position: relative;
  z-index: 1;
}

.header-content p {
  font-size:30px;
  width: 500px;
}

.review-part {
  width:46%;
  margin-bottom:30px;
}

.rev-text {
  font-size:25px;
}

.stars {
  margin:15px 10px 15px 0px;
  width: 200px;
}

.rev-from {
  opacity: 0.5;
  font-style: italic;
}

.rev-name {
  opacity: 0.8;
  font-weight: bold;
}

.review-icon {
  width:100px;
  margin-right:15px;
}

.form-part {
  width:65%;
}

.side-bar {
  width: 28%;
}

.galleryPromo img {
  width:98%;
}


.packages .package-features {
  opacity: 1;
}

.sub-info {
  opacity: 0.5;
}

.package-price {
  margin:20px 0px;
  text-align: center;
}

.old-price {
  text-decoration: line-through;
  opacity: 0.6;
  font-size:27px;
  color:red;
}

.button {
  padding:15px 25px;
  display: inline-block;
  margin:20px 0px;
  cursor: pointer;
  border-radius:3px;
  border:none;
  color:white;
  font-size:20px;
}

/*select*/
.select-cont {
    
    width:100%;
    display: inline-block;
    position:relative;
    font-size:18px;
    color:white;
    text-align:left;
}

.selected-line-city {
  opacity: 0.4;
}

  .select {
    position:relative;
    background:#4A4A4A;
    box-shadow:0px 0px 8px rgba(0,0,0,0.2);
    border-radius:3px;
    cursor:pointer;
    font-weight: 100;
    padding:15px 20px;
    font-size: 20px;
  }
    
  .optgroup {
    position:absolute;
    opacity:0;
    background:white;
    width:100%;
    box-shadow:0px 0px 10px rgba(0,0,0,0.2);
    display:none;
    border-radius:3px;
    overflow:hidden;
  }
  
  .arrow {
    position:absolute;
    right:0;
    padding:0px 10px;
  }
  
  .option {
    padding:10px 15px;
    cursor:pointer
    
  }
  
  .option:hover {
    background:#CE2424;
    color:white;
  }

/* end of menu */

/* styling of cover section */
.section {
  position: relative;
  padding: 100px 0px;
}

.header-video {
  position: absolute;
  top: -25%;
  left: -25%;
  z-index: 0;
  min-width: 125%;
  min-height: 125%;
}

.usp-part {
  width:150px;
  text-align: center;
}

.usp-icon {
  width:150px;
}

.footer a:hover {
  opacity:1;
}

.footer ul {
  margin:0;
  padding:0;
  list-style-type: none;
}

.footer ul li {
  padding-bottom:17px;
}

.header {
  padding-top:450px;
  padding-bottom:80px;
  padding-left:150px;
  position: relative;
  overflow: hidden;
}

/* styling of intro section */
.pic {
  width: 100%;
}

/* styling of service section */
.padding {
  padding: 0px 30px;
}

.third {
  width: 30%;
}

.gal-el {
  width:32%;
  height: 400px;
  margin-bottom:30px;
}

.blog-box {
  background:white;
  margin-bottom:50px;
  color: black;
  padding-bottom:25px;

}

.personalInfo p {
}

.discountError {
  color: red;
  margin-bottom:15px;
  display: none;
}

.couponCard {
  border:1px solid white;
  color:white;
  padding:15px 20px;
  display: none;
  text-align: center;
}

.coupon_name {
  font-size:40px;
  display: block;
}

.other-pic {
  height: 200px;
}

.formError {
  border:1px solid red;
  color: red;
  margin-top:10px;
  padding:15px 25px;
  width: 250px;
  display:none;
}

.blog-text {
  font-size:22px;
  line-height: 40px;
  opacity: 0.8;
}

.date {
  opacity: 0.5;
}

.date span {
  font-weight: bold;
  opacity: 0.7
}

.other-post {
  margin-bottom:40px;
}

.blog-title {
  max-width: 100%;
}

.blog-text-cont {
  width:75%;
}

.other-posts {
  width: 25%;
}

.blog-prev-img {
  height: 350px;
}

.detail-info {
  width:68%;
  margin-bottom:40px;
}

.package-info {
  opacity: 0.8;
  font-size:22px;
}

.package-detail {
  margin-bottom:40px;
}

iframe {
  margin-top:35px;
}

.package-info span {
  font-weight: bold;

}

.small-title {
	font-size:20px;
	font-weight: bold;
	color: black;
}

.contact-part {
	margin-bottom:30px;
}

.contact img {
	opacity: 0.6;
	margin-right:6px;
}

.contact-line {
	font-size:23px;
	font-weight: bold;
	margin-top:10px;
}

.fixed-bg {
	background-attachment: fixed;
	background-size: cover;
}

.promo-box {
  box-shadow: 0px 0px 16px rgba(0,0,0,0.1);
  color:rgba(0,0,0,0.6);
  position: relative;
  padding-bottom:25px;
}

.promo-box .height {
	height:100px;
}

.out-btn {
	margin-bottom:-30px;
}

.box-img {
  background-image: url(../img/header.png);
  height: 200px;
}

/* styling of contact info section */
.icon {
  height: 30px;
}

.contact {
  color: grey;
}

/*styling of contact form */
.form {
  width: 100%;
  padding: 15px 20px;
  font-size: 18px;
  margin: 10px 0px;
  color:black;
  border:none;
  box-shadow: 0px 0px 16px rgba(0,0,0,0.05);
}

input, textarea, select{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding:15px 20px;
  background:#4A4A4A;
  border:none;
  font-size:20px;
  margin-bottom:30px;
  color: white;
  border-radius: 3px;
}

.grad-title {
  font-size: 35px;
  margin-top:20px;
  display: inline-block;
  font-weight: bold;
  background: -webkit-linear-gradient(#FF7B31, #CD039E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.form-section {
  margin-top:50px;
}

.ui-datepicker-header {
  padding-bottom:20px;
}

.ui-datepicker-next {

  float:right;
  opacity: 0.5;
  cursor: pointer;

}

.ui-datepicker-prev, .ui-datepicker-next {
   opacity: 0.5;
  cursor: pointer;
}

.ui-datepicker th {

  text-transform: uppercase;
}

.ui-datepicker td{
  padding:15px;
}

.ui-datepicker td:hover {
  background:black;
  cursor: pointer;
}

.ui-datepicker-unselectable:hover {
  background:#4A4A4A !important;
}

.ui-datepicker-unselectable {
  color:rgba(255,255,255,0.4);
}

.ui-state-active {
  border:1px solid black;
}

.ui-datepicker-calendar .ui-state-default {
  padding:15px;
}


.ui-datepicker tbody td {
  text-align: center;
}

.ui-datepicker {
  width:100%;
  background:#4A4A4A;
  padding:20px;
  border-radius: 3px;
}

.ui-datepicker a {
  text-decoration: none;
}

.ui-datepicker table {
  width: 100%;
}


.ui-datepicker-title {
  text-align: center;
}
.minusCount {
  color: #FF7B31;
}

.plusCount {
  color: #CD039E;
}

.count {
  font-size:70px;
  margin:0px 25px;
  display: inline-block;
}

.countIcon {
  display: inline-block;
  font-size:60px;
  cursor: pointer;
}


.summary-box {
  background:white;
  color:black;
  padding-bottom:20px;
}

.summaryPrice {
  text-align: center;
  margin-top:20px;
}



.sumInfo {
  margin-bottom:10px;
  display: none;
}

.small-icon {
  width: 25px;
  margin-right:15px;
}

.link-button {
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.65;
}

.link-button:hover {
  opacity: 0.8;
}

.package-features {
  opacity: 0.6;
  margin-bottom:40px;
  padding-left:20px;
}

.package-features li {
  margin-bottom:15px;
}

.summary-pic {
  height: 200px;
}

.full-w-input {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.third-w-input {
  width:30%;
}

textarea {
	min-height:200px;
	max-height:250px;
	max-width: 50%;
	min-width: 50%;
}


/* styling of footer */
.footer {
 background:black;
  padding:60px 0px;
  color:rgba(255,255,255,0.4);
}

.social-icon {
  width:50px;
  margin-right:10px;
  opacity: 0.6;
  margin-top:15px;
}

.social-icon:hover {
  opacity: 1;
}


.paypal {
  width: 100%;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
}

.footer-menu>a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

/* styling of service container */
.service-box {
  box-shadow: 0 0px 16px rgba(0,0,0,0.1);
  width:48%;
  margin-bottom:30px;
  color:rgba(0,0,0,0.6);
}

.service-img {
  background-image: url(../img/header.png);
  width: 35%;
}


/* styling of rent img  */
.rent-img {
  box-shadow:0px 0px 16px rgba(0,0,0,0.1);
  width: 90%;
  height: 300px;
}

.rent-box {
  margin-top:35px;
}

.full-side-pic {
  height: 100%;
  position: absolute;
  top: 0;
}

.toLeft {
  left:0;
}

.pic-half {
  height:600px;
}

.sub-text {
  opacity: 0.8;
}

.highlight-text-cont {
  padding-left:30px;
  border-left:3px solid rgba(255,255,255,0.7);
  font-size:45px;
  font-weight: bold;
}

.toRight {
  right:0;
}

#menu-icon {
  display: none;
  width: 50px;
}

.mob-menu-cont {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  color: white;
  display: none;
}

#menu-close {
  font-size:50px;
  color:white;
}

.mob-menu-cont ul {
  list-style-type: none;
  position: relative;
  z-index: 5;

}

.mob-menu-cont ul li {
  padding:20px 0px;
  font-size:30px;
}

.mob-menu-cont a {
  color: inherit;
  text-decoration: none;

}

/*reszp rész*/

@media only screen and (max-width:1080px) {

   .desk-menu {
    display: none;
   }

   #menu-icon {
    display:block;
   }

   .header .half {
    width: 100%;
   }

   .flex-reverse {
    flex-direction: column-reverse;
   }

   .flex-reverse .half {
    width: 100%;
   }

   .flex-reverse .padding {
    padding:0;
   }

   .pic {
    width: 70%;
    margin:auto;
    display: block;
   }

   .third {
    width:48%;
   }

   .promo-box {
    margin-bottom:35px;
   }

   .form {
    width: 70%;
   }

   textarea {
     width:70%;
     max-width: 70%;
     min-width: 70%;
   }


   .footer-menu {
    flex-direction: column;

   }

   .footer-menu a {
    margin-bottom:25px;
    font-size:25px;
   }


   .flex-stop {
    flex-direction: column;
   }

   .flex-stop .half {
    width:100%;
   }

   .highlight-text-cont {
    font-size:35px;
   }

   .pic-half {
    height: 400px
   }

}

@media only screen and (max-width:750px) {

  .header {
    padding:100px 0px !important;
  }

  .third {
    width:100%;
  }

  .section {
    padding:60px 0px;
  }

  .form {
    width: 100%;
  }

  textarea {
     width:100%;
     max-width: 100%;
     min-width: 100%;
   }

  .footer-menu a {
    margin-bottom:35px;
    
   }

   .highlight-text-cont {
    font-size:30px;
   }

}


@media only screen and (max-width:420px) {

  .header h1 {
    font-size:28px;
  }

  .promo-box {
    margin-bottom:40px;
  }

  .out-btn {
    margin-bottom:-45px;
  }

  .highlight-text-cont {
    font-size:25px;
   }

    .pic-half {
    height: 300px
   }

}