
.scrap-text h1{ margin-bottom:20px; text-transform:uppercase;}
.scrap{background-color: #8d5524;
background-image: url("/static/img/memories_logo.png");
    color: #fff; float:left; text-align:center; }
.margin-right-ten{margin-right:10px;}
.scrap .scrap-text {
    position: static;
    transform: inherit;
    float: left;
    padding: 12px 0;
}
.scrap .scrap-text h1 {
    font-size: 16px;
    text-align: left;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.scrap .scrap-text a.btn.btn-info {
    background-color: #3498db;
    border: none !important;
}

.text-uppercase{text-transform:uppercase;}
.scrap  .table-bordered {
    border: 1px solid #dee2e6;
    background-color: #222;
    color: #fff;
}

}
.scrap tbody tr:nth-child(odd) {
    background-color: #3d3d3d;

.scrap .table-bordered td, .table-bordered th {
    border: 1px solid #444444;
        vertical-align: middle;
}
.scrap .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #444444;
}


