{% extends 'base.html' %}
{% load static %}
{% block canoical %} <link rel=”canonical” href=”https://bestpubcrawlbudapest.com/blog/” /> {% endblock %}
{% block metatags %}
<meta name="keywords" content="pub crawl, pub crawl budapest, pub crawl blog, pub crawl budapest blog, budapest nightlife blog, budapest pubs, budapest party, ruin pub budapest, nightlife budapest, best pub crawl budapest">
<meta name="description" content="Everything you need to know about Pub Crawls in Budapest. Articles about the nightlife of Budapest, attractions and many more.">
{% endblock %}
{% block og_tags %}
<meta property="og:title" content="Memories Pub Crawl Budapest - Blog" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Everything you need to know about Pub Crawls in Budapest. Articles about the nightlife of Budapest, attractions and many more."/>
<meta property="og:url" content="" />
<meta property="og:image" content="" />
{% endblock %}
{% block content %}
<div class="header-small cover">

	<div class="overlay-top overlay"></div>

	<h1><span class="highlight-text grad-bg">Blog</span></h1>

</div>

<div class="section">

	<div class="wrapper">

    {% for post in post_list %}
		<div class="blog-box">
			<div class="blog-prev-img cover" style="background-image:url({{ post.image.url }})"></div>
			<div class="padding">
				<h1 class="grad-title">{{ post.title }}</h1>
				<p>{{ post.intro }}...</p>
				<a href="{% url 'post-detail' slug=post.slug %}"><span class="button grad-bg">Read more</span></a>
			</div>

		</div>
    {% endfor %}

	</div>


</div>

{% endblock %}
