{% extends 'base.html' %}
{% load static %}

{% block metatags %}
<meta name="keywords" content="pub crawl, pub crawl budapest, pub crawl blog, pub crawl budapest blog, budapest nightlife blog, budapest pubs, budapest party, ruin pub budapest, nightlife budapest, best pub crawl budapest">
<meta name="description" content="{{ object.intro }}">
{% endblock %}
{% block og_tags %}
<meta property="og:title" content="{{ object.title }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ object.intro }}"/>
<meta property="og:url" content="https://bestpubcrawlbudapest.com{{request.get_full_path}}" />
<meta property="og:image" content="https://bestpubcrawlbudapest.com{{object.image.url}}" />
{% endblock %}
{% block canoical %} <link rel=”canonical” href=”https://bestpubcrawlbudapest.com{{request.get_full_path}}” /> {% endblock %}
{% block content %}


<div class="header cover" style="background-image:url({{ object.image.url }})">

	<div class="overlay-top overlay"></div>

	<h1><span class="highlight-text grad-bg blog-title">{{ object.title }}</span></h1>

</div>

<div class="section">

	<div class="wrapper flex">


		<div class="blog-text-cont">
			<div class="padding">
				<p class="date"><span>Published </span>{{ object.created_on }}</p>
				<div class="blog-text">
			       <p>{{ object.content|safe }}</p>
				</div>
			</div>


		</div>

		<div class="other-posts">
			<span class="section-title">Other posts</span>
			<div class="other-post">
				<div class="other-pic cover" style="background-image: url(img/header.jpg)"></div>
				<a href=""><span class="grad-title">Másik blog cím</span></a>
			</div>

			<div class="other-post">
				<div class="other-pic cover" style="background-image: url(img/header.jpg)"></div>
				<a href=""><span class="grad-title">Másik blog cím</span></a>
			</div>

			<div class="other-post">
				<div class="other-pic cover" style="background-image: url(img/header.jpg)"></div>
				<a href=""><span class="grad-title">Másik blog cím</span></a>
			</div>
		</div>


</div>


{% endblock %}
